node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Prisma client generado
/src/lib/generated/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

database.sql

# Playwright
/test-results/
/playwright-report/
