@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: dark;
}
@plugin "daisyui/theme" {
	name: 'dark';
	default: true;
	--color-accent: #4caf50;
	--color-primary: #2196f3;
	--color-secondary: #ffc107;
	--color-error: #ee3616;
	--color-success: #2196f3;
}
